/* * {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: url(/audiFontStyle.ttf);
} */
.mianContainerParent:hover{
  
  transform: scale(1.05);

  
}
.mianContainerParent{
  transition: 0.5s;
}



  

@media (min-width:0px) and (max-width:650px){
  .mainContainer{
  }
  /* .mainContainer .Box .mainText{ font-size: xx-large; text-align: center;} */
}
/* @font-face {
  font-family: ;
  src: url();
} */
@media (min-width:0px) and (max-width:650px){
  .mainContainer{  background-size: contain;}

}
@font-face {
 font-family: 'AudiType-ExtendedBold_03' ;
 src: url('/AudiType-ExtendedBold_03.ttf');
} 
.mainContainer .Box .mainText{
  color: white;
  
  /* font-family: AudiType-ExtendedNormal,Helvetica,Arial,sans-serif;*/
  /* font-family: url('/AudiType-ExtendedBold_03.ttf'); */
  /* font-family: 'AudiType-ExtendedNormal'; */
} 

.mainContainer{
  font-family: 'Audi1';
  font-family: ' AudiType-ExtendedNormal,Helvetica,Arial,sans-serif';
  position: relative;
  /* transition: 1s; */
  top: 65px;
 
  /* z-index: -1; */
}
.menu:hover{
  /* navbar wala menu h */
  cursor: pointer;
}
@media screen and (max-width:750px){
  .cardItem1{max-width: 100% !important; width: 100% !important;  flex-wrap: wrap; color: red};
  /* .cardItem2{width: 100%;};
  .cardItem3{width: 100%; color: red}; */
  
}
@media screen and (min-width:0px) and (max-width:750px){
  .asideItemText{width: 100%;
}
}
.list{ list-style: none; padding: 20px;}
.footerList1{
  list-style: none;
  
}
.footerList2{
  list-style: none;
  margin-left: 70px;
}.footerList3{
  list-style: none;
  margin-right: 450px;

  /* flex-grow: ; */
}.footerList4{
  list-style: none;
  /* flex-grow: 1; */
}
